In [7]:
import pandas as pd

df = pd.read_csv('drug200.csv')
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [10]:
df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [23]:
print(df.Sex.value_counts(),
      df.BP.value_counts(), # Blood Pressure Levels
      df.Cholesterol.value_counts(),
      df.Drug.value_counts(),
      sep='\n'*2)

M    104
F     96
Name: Sex, dtype: int64

HIGH      77
LOW       64
NORMAL    59
Name: BP, dtype: int64

HIGH      103
NORMAL     97
Name: Cholesterol, dtype: int64

DrugY    91
drugX    54
drugA    23
drugB    16
drugC    16
Name: Drug, dtype: int64

In [51]:
from sklearn.preprocessing import LabelEncoder

df_int = df.copy()
for col in ['Sex', 'BP', 'Cholesterol', 'Drug']:
    df_int[col] = LabelEncoder().fit_transform(df[col])
    print(col, df[col].unique(), '=>', df_int[col].unique())

Sex ['F' 'M'] => [0 1]
BP ['HIGH' 'LOW' 'NORMAL'] => [0 1 2]
Cholesterol ['HIGH' 'NORMAL'] => [0 1]
Drug ['DrugY' 'drugC' 'drugX' 'drugA' 'drugB'] => [0 3 4 1 2]

In [78]:
from sklearn.model_selection import train_test_split

X = df_int[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']]
Y = df_int['Drug']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

X_train

(160, 5) (160,)
(40, 5) (40,)

     Age  Sex  BP  Cholesterol  Na_to_K
2     47    1   1            0   10.114
139   69    0   2            0   10.065
198   23    1   2            1   14.020
68    54    1   2            0   24.658
180   22    0   0            1   22.818
..   ...  ...  ..          ...      ...
143   74    1   0            1   15.436
94    56    1   1            0   15.015
32    49    1   1            1   11.014
46    37    0   0            0   13.091
128   47    1   1            1   33.542

[160 rows x 5 columns]

In [81]:
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix

svm = SVC()
# TODO: SVC(kernel='linear)
svm.fit(X_train, Y_train)
# print(svm.support_vectors_)

print('SVM accuracy: ', svm.score(X_test, Y_test))
print('SVM confusion matrix:')
print(confusion_matrix(Y_test, svm.predict(X_test))) # x - prediction, y - actual

[[34.     1.     0.     0.    18.703]
 [51.     1.     0.     0.    18.295]
 [31.     1.     0.     1.    17.069]
 [66.     1.     0.     0.    16.347]
 [24.     0.     0.     1.    18.457]
 [43.     1.     1.     0.    15.376]
 [36.     0.     0.     1.    15.49 ]
 [60.     1.     2.     0.    15.171]
 [61.     0.     1.     0.    18.043]
 [57.     1.     1.     1.    19.128]
 [16.     1.     0.     1.    19.007]
 [50.     0.     2.     1.    17.211]
 [49.     0.     2.     0.    16.275]
 [41.     0.     1.     1.    18.739]
 [39.     0.     2.     1.    17.225]
 [37.     1.     1.     1.    16.724]
 [69.     1.     1.     0.    15.478]
 [74.     0.     1.     0.    20.942]
 [67.     0.     2.     0.    15.891]
 [48.     0.     1.     0.    15.036]
 [23.     1.     2.     0.    16.85 ]
 [39.     1.     2.     0.    15.969]
 [28.     0.     0.     1.    18.809]
 [36.     0.     2.     0.    16.753]
 [38.     1.     1.     0.    18.295]
 [62.     1.     2.     0.    16.594]
 [45.     1.     1.     0.    17.951]
 [15.     1.     0.     1.    17.206]
 [15.     0.     0.     1.    16.725]
 [26.     0.     0.     1.    19.161]
 [58.     0.     0.     0.    19.416]
 [72.     1.     1.     0.    16.31 ]
 [34.     0.     0.     1.    19.199]
 [58.     1.     0.     0.    18.991]
 [74.     1.     0.     1.    15.436]
 [56.     1.     1.     0.    15.015]
 [31.     1.     0.     1.    11.227]
 [36.     0.     0.     0.    11.198]
 [42.     1.     0.     1.    12.766]
 [32.     0.     0.     1.    10.292]
 [31.     1.     0.     1.    11.871]
 [24.     1.     0.     1.     9.475]
 [48.     1.     0.     1.    10.446]
 [29.     1.     0.     0.    12.856]
 [32.     1.     0.     1.     9.445]
 [45.     0.     0.     0.    12.854]
 [38.     0.     0.     1.    11.326]
 [26.     0.     0.     1.    12.307]
 [39.     1.     0.     0.     9.664]
 [20.     0.     0.     0.    11.262]
 [50.     1.     0.     0.     7.49 ]
 [47.     1.     0.     0.    10.403]
 [43.     1.     0.     0.    13.972]
 [49.     1.     0.     1.     8.7  ]
 [35.     0.     0.     0.    12.894]
 [37.     0.     0.     0.    13.091]
 [70.     1.     0.     0.    13.967]
 [57.     0.     0.     1.     9.945]
 [65.     1.     0.     1.    11.34 ]
 [72.     1.     0.     1.     9.677]
 [70.     1.     0.     0.     9.849]
 [60.     0.     0.     0.    13.303]
 [60.     1.     0.     0.    13.934]
 [58.     0.     0.     1.    14.239]
 [59.     1.     0.     0.    13.935]
 [55.     0.     0.     0.    10.977]
 [60.     1.     0.     1.     8.621]
 [68.     0.     0.     1.    10.189]
 [47.     1.     1.     0.    10.114]
 [26.     0.     1.     0.    14.16 ]
 [23.     1.     1.     0.     7.298]
 [59.     0.     1.     0.    10.444]
 [56.     0.     1.     0.    11.567]
 [22.     1.     1.     0.     8.151]
 [72.     1.     1.     0.     6.769]
 [47.     0.     1.     0.    10.067]
 [47.     1.     1.     0.    13.093]
 [16.     1.     1.     0.    12.006]
 [41.     1.     1.     0.    11.037]
 [28.     0.     1.     0.    13.127]
 [47.     0.     1.     0.    11.767]
 [69.     0.     2.     0.    10.065]
 [23.     1.     2.     1.    14.02 ]
 [50.     0.     2.     1.    12.295]
 [60.     1.     2.     1.    10.091]
 [56.     1.     2.     0.     8.966]
 [34.     0.     1.     1.    12.923]
 [45.     1.     1.     1.     8.37 ]
 [35.     1.     2.     1.     7.845]
 [18.     0.     2.     1.     8.75 ]
 [32.     0.     2.     0.     7.477]
 [20.     0.     1.     1.    11.686]
 [17.     1.     2.     1.    10.832]
 [40.     0.     1.     1.    11.349]
 [61.     0.     1.     1.     7.34 ]
 [45.     1.     1.     1.    10.017]
 [52.     1.     2.     0.     9.894]
 [55.     1.     2.     1.     7.261]
 [49.     1.     1.     1.    13.598]
 [39.     0.     2.     1.     9.709]
 [36.     1.     1.     1.    11.424]
 [57.     0.     2.     0.    14.216]
 [49.     0.     2.     1.     9.381]
 [69.     1.     1.     1.    11.455]
 [30.     0.     2.     0.    10.443]
 [20.     0.     2.     1.     9.281]
 [23.     1.     2.     0.    12.26 ]
 [39.     1.     1.     1.    13.938]
 [72.     0.     1.     1.    14.642]
 [51.     0.     2.     0.    13.597]
 [66.     0.     2.     1.     8.107]
 [35.     1.     1.     1.     9.17 ]
 [28.     0.     2.     0.     7.798]
 [53.     1.     2.     0.    14.133]
 [40.     0.     2.     0.    10.103]
 [28.     0.     2.     0.    12.879]
 [65.     0.     1.     1.    13.769]
 [43.     1.     2.     1.    12.859]
 [67.     1.     2.     1.     9.514]
 [49.     1.     1.     1.    11.014]]
SVM accuracy:  0.725
SVM confusion matrix:
[[17  0  0  0  0]
 [ 1  0  0  0  2]
 [ 0  0  0  0  4]
 [ 0  0  0  0  3]
 [ 1  0  0  0 12]]

In [80]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, Y_train)

print('Random forest accuracy: ', rf.score(X_test, Y_test))
print('Random forest confusion matrix:')
print(confusion_matrix(Y_test, rf.predict(X_test)))

Random forest accuracy:  0.95
Random forest confusion matrix:
[[17  0  0  0  0]
 [ 0  3  0  0  0]
 [ 0  2  2  0  0]
 [ 0  0  0  3  0]
 [ 0  0  0  0 13]]

In [ ]:
"""
https://www.kaggle.com/philippurwokoap/svm-multiclass-classification
SVM: 0.7

https://www.kaggle.com/karanpatel219/drug-classification-100-random-forest
RF: 1.0 (?)
"""